<!-- Contenedor Principal -->
<div style="padding: 0; margin: 0; display: block; min-width: 100%; width: 100%; background: #f6f8f9;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f8f9">
      <tr>
        <td align="center" valign="top">
          <table width="650" border="0" cellspacing="0" cellpadding="0" style="max-width: 650px;">
            <tr>
              <td style="padding: 55px 0;">
                <!-- Encabezado -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EFE8E0" style="width: 100%; padding: 0;">
                  <tr>
                    <td align="center">
                      <table width="650" border="0" cellspacing="0" cellpadding="0" style="max-width: 650px; background: #ffffff; border-radius: 12px;">
                        <tr>
                          <td style="padding: 0; margin: 0; background: #EFE8E0; border-radius: 12px 12px 0 0;">
                            <img src="https://res.cloudinary.com/dgmzeb84y/image/upload/v1743546716/banner_fede_lml8tc.png"
                              style="width: 100%; max-width: 650px; height: auto; display: block; border-radius: 12px 12px 0 0;"
                              alt="Logo de Fedecacao">
                          </td>
                        </tr>
                      </table>
                </table>
  
                <!-- Contenido Principal -->
                <table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">

                    <tr>
                        <td style="color: #562707; font-family: sans-serif; font-size: 22px; line-height: 25px; text-align: center; font-weight: bold;">
                            LIQUIDACIÓN DE CUOTA DE ACUERDO DE PAGO GENERADA
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #562707; font-family: sans-serif; font-size: 17px; line-height: 25px; text-align: left;">
                            Estimado(a) {{ nombre_de_usuario }},
                            <br><br>
                            Se ha generado una Liquidación de cuota de acuerdo de pago:
                        </td>
                    </tr>

                <!-- Recuadro con datos -->
                <tr>
                    <td align="center">
                        <table width="100%" cellpadding="15" cellspacing="0" style="background-color: #562707; border-radius: 10px;">
                        <tr>
                        <td style="font-family: sans-serif; font-size: 16px; line-height: 24px; text-align: center; color: #ffffff;">
                            <span style="color: #ffffff;">Fecha de Liquidación: <strong style="color: #ffffff;">{{ fecha_liquidacion }}</strong></span><br>
                            <span style="color: #ffffff;">Numero de Solicitud Acuerdo Pago: <strong style="color: #ffffff;">{{ nro_solicitud }}</strong></span><br>
                            <span style="color: #ffffff;">Numero de Plan de Pago: <strong style="color: #ffffff;">{{ nro_plan_pago }}</strong></span><br>
                            <span style="color: #ffffff;">Numero de Cuota: <strong style="color: #ffffff;">{{ nro_cuota }}</strong></span><br>
                            <span style="color: #ffffff;">Numero Factura Unica: <strong style="color: #ffffff;">{{ numero_factura }}</strong></span><br>
                            <span style="color: #ffffff;">Cantidad de kilos: <strong style="color: #ffffff;">{{ cantidad_kilos }}</strong></span><br>
                            <span style="color: #ffffff;">Valor de la cuota: <strong style="color: #ffffff;">${{ valor_cuota_formateado }}</strong></span>

                        </td>    
                        </tr>
                    </table>
                    </td>
                </tr>
  
                <!-- Instrucciones adicionales -->
                <tr>
                    <td style="color: #562707; font-family: sans-serif; font-size: 16px; line-height: 24px; text-align: left; padding-top: 20px;">
                        Si tienes alguna duda o necesitas asistencia adicional, por favor no dudes en contactarnos a través de nuestro equipo de soporte técnico.
                    </td>
                </tr>
                <!-- Nota final -->
                <tr>
                    <td style="color: #562707; font-family: sans-serif; font-size: 14px; text-align: center; padding-top: 30px;">
                        Este correo electrónico fue generado de forma automática, este no dará respuesta a solicitudes futuras.
                    </td>
                </tr>
        </table>

                <!-- Pie de Página -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EFE8E0" style="padding: 30px;">
                  <tr>
                    <td align="center">
                      <table width="650" border="0" cellspacing="0" cellpadding="0" style="max-width: 650px;">
                        <tr>
                          <!-- Logo -->
                          <td width="30%" align="left" style="padding: 10px;">
                            <img src="https://res.cloudinary.com/dgmzeb84y/image/upload/v1743546706/logo_fedecacao_1_i6mvhq.avif" width="250" alt="Logo de Fedecacao">
                          </td>
                          <!-- Información adicional y Banner GOV.CO -->
                          <td width="30%" align="left" style="color: #562707; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
                            <strong>Fedecacao - Fondo Nacional del Cacao</strong><br>
                            Calle 31 No. 17-27, Bogotá D.C., Colombia<br>
                            PBX: +57 (601) 327 3000<br>
                            Notificaciones Judiciales: <a href="mailto:notificaciones.judiciales@fedecacao.com.co" style="color: #562707; text-decoration: none;">notificaciones.judiciales@fedecacao.com.co</a><br>
                            Correo institucional: <a href="mailto:info@fedecacao.com.co" style="color: #562707; text-decoration: none;">info@fedecacao.com.co</a><br>
                            <br>
                            <!-- Banner de GOV.CO -->
                            <div style="background-color: #EFE8E0;">
                              <img src="https://res.cloudinary.com/dgmzeb84y/image/upload/v1743546694/logo_footer_duyhji.png" 
                                style="width: 85%; height: 55px; margin: auto;" alt="GOV.CO">
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
  
                <!-- Línea divisoria -->
                <hr style="border: 0; height: 1px; background-color: #562707; margin: 0; padding: 0;">
  
                <!-- Copyright -->
                <table width="100%" bgcolor="#562707" style="padding: 10px;">
                  <tr>
                    <td align="center">
                      <p style="color: #EFE8E0; font-family: Arial, sans-serif; font-size: 12px; text-align: center;">
                        Fedecacao® - Fondo Nacional del Cacao es una Marca Registrada - Todos los derechos reservados<br>
                        Site Creado por <a href="https://tiendabandera.com" style="color: #EFE8E0; text-decoration: none;">tiendabandera.com</a>
                      </p>
                    </td>
                  </tr>
                </table>
  
                <!-- Fin del Contenido -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  